BloonsConfig(
    heroes: [
        Hero(
            name: "Admiral Brickell",
            icon: "heroes/admiral_brickell.webp"
        ),
        Hero(
            name: "Adora",
            icon: "heroes/adora.webp"
        ),
        Hero(
            name: "Benjamin",
            icon: "heroes/benjamin.webp"
        ),
        Hero(
            name: "Captain Churchill",
            icon: "heroes/captain_churchill.webp"
        ),
        Hero(
            name: "Corvus",
            icon: "heroes/corvus.webp"
        ),
        Hero(
            name: "Etienne",
            icon: "heroes/etienne.webp"
        ),
        Hero(
            name: "Ezili",
            icon: "heroes/ezili.webp"
        ),
        Hero(
            name: "Geraldo",
            icon: "heroes/geraldo.webp"
        ),
        Hero(
            name: "Gwendolin",
            icon: "heroes/gwendolin.webp"
        ),
        Hero(
            name: "Obyn Green Foot",
            icon: "heroes/obyn_green_foot.webp"
        ),
        Hero(
            name: "Pat Fusty",
            icon: "heroes/pat_fusty.webp"
        ),
        Hero(
            name: "Psi",
            icon: "heroes/psi.webp"
        ),
        Hero(
            name: "Quincy",
            icon: "heroes/quincy.webp"
        ),
        Hero(
            name: "Sauda",
            icon: "heroes/sauda.webp"
        ),
        Hero(
            name: "Striker Jones",
            icon: "heroes/striker_jones.webp"
        ),
    ],
    towers: [
        Tower(
            name: "Dart Monkey",
            category: Primary,
            icon: "towers/dart_monkey.webp"
        ),
        Tower(
            name: "Boomerang",
            category: Primary,
            icon: "towers/boomerang.webp"
        ),
        Tower(
            name: "Bomb Shooter",
            category: Primary,
            icon: "towers/bomb_shooter.webp"
        ),
        Tower(
            name: "Tack Shooter",
            category: Primary,
            icon: "towers/tack_shooter.webp"
        ),
        Tower(
            name: "Ice Monkey",
            category: Primary,
            icon: "towers/ice_monkey.webp"
        ),
        Tower(
            name: "Sniper Monkey",
            category: Military,
            icon: "towers/sniper_monkey.webp"
        ),
        Tower(
            name: "Monkey Sub",
            category: Military,
            icon: "towers/monkey_sub.webp"
        ),
        Tower(
            name: "Monkey Buccaneer",
            category: Military,
            icon: "towers/monkey_buccaneer.webp"
        ),
        Tower(
            name: "Monkey Ace",
            category: Military,
            icon: "towers/monkey_ace.webp"
        ),
        Tower(
            name: "Heli Pilot",
            category: Military,
            icon: "towers/heli_pilot.webp"
        ),
        Tower(
            name: "Mortar Monkey",
            category: Military,
            icon: "towers/mortar_monkey.webp"
        ),
        Tower(
            name: "Dartling Gunner",
            category: Military,
            icon: "towers/dartling_gunner.webp"
        ),
        Tower(
            name: "Wizard Monkey",
            category: Magic,
            icon: "towers/wizard_monkey.webp"
        ),
        Tower(
            name: "Super Monkey",
            category: Magic,
            icon: "towers/super_monkey.webp"
        ),
        Tower(
            name: "Ninja Monkey",
            category: Magic,
            icon: "towers/ninja_monkey.webp"
        ),
        Tower(
            name: "Alchemist",
            category: Magic,
            icon: "towers/alchemist.webp"
        ),
        Tower(
            name: "Druid Monkey",
            category: Magic,
            icon: "towers/druid_monkey.webp"
        ),
        Tower(
            name: "Banana Farm",
            category: Support,
            icon: "towers/banana_farm.webp"
        ),
        Tower(
            name: "Spike Factory",
            category: Support,
            icon: "towers/spike_factory.webp"
        ),
        Tower(
            name: "Monkey Village",
            category: Support,
            icon: "towers/monkey_village.webp"
        ),
        Tower(
            name: "Engineer Monkey",
            category: Support,
            icon: "towers/engineer_monkey.webp"
        ),
        Tower(
            name: "Beast Handler",
            category: Support,
            icon: "towers/beast_handler.webp"
        ),
    ],
    maps: [
        Map(
            name: "Monkey Meadow",
            icon: "maps/monkey_meadow.webp",
            difficulty: Beginner
        ),
        Map(
            name: "In The Loop",
            icon: "maps/in_the_loop.webp",
            difficulty: Beginner
        ),
        Map(
            name: "Middle Of The Road",
            icon: "maps/middle_of_the_road.webp",
            difficulty: Beginner
        ),
        Map(
            name: "Tree Stump",
            icon: "maps/tree_stump.webp",
            difficulty: Beginner
        ),
        Map(
            name: "Town Center",
            icon: "maps/town_center.webp",
            difficulty: Beginner
        ),
        Map(
            name: "One Two Tree",
            icon: "maps/one_two_tree.webp",
            difficulty: Beginner
        ),
        Map(
            name: "Scrapyard",
            icon: "maps/scrapyard.webp",
            difficulty: Beginner
        ),
        Map(
            name: "The Cabin",
            icon: "maps/the_cabin.webp",
            difficulty: Beginner
        ),
        Map(
            name: "Resort",
            icon: "maps/resort.webp",
            difficulty: Beginner
        ),
        Map(
            name: "Skates",
            icon: "maps/skates.webp",
            difficulty: Beginner
        ),
        Map(
            name: "Lotus Island",
            icon: "maps/lotus_island.webp",
            difficulty: Beginner
        ),
        Map(
            name: "Candy Falls",
            icon: "maps/candy_falls.webp",
            difficulty: Beginner
        ),
        Map(
            name: "Winter Park",
            icon: "maps/winter_park.webp",
            difficulty: Beginner
        ),
        Map(
            name: "Carved",
            icon: "maps/carved.webp",
            difficulty: Beginner
        ),
        Map(
            name: "Park Path",
            icon: "maps/park_path.webp",
            difficulty: Beginner
        ),
        Map(
            name: "Alpine Run",
            icon: "maps/alpine_run.webp",
            difficulty: Beginner
        ),
        Map(
            name: "Frozen Over",
            icon: "maps/frozen_over.webp",
            difficulty: Beginner
        ),
        Map(
            name: "Cubism",
            icon: "maps/cubism.webp",
            difficulty: Beginner
        ),
        Map(
            name: "Four Circles",
            icon: "maps/four_circles.webp",
            difficulty: Beginner
        ),
        Map(
            name: "Hedge",
            icon: "maps/hedge.webp",
            difficulty: Beginner
        ),
        Map(
            name: "End Of The Road",
            icon: "maps/end_of_the_road.webp",
            difficulty: Beginner
        ),
        Map(
            name: "Logs",
            icon: "maps/logs.webp",
            difficulty: Beginner
        ),
        Map(
            name: "Sulfur Springs",
            icon: "maps/sulfur_springs.webp",
            difficulty: Intermediate
        ),
        Map(
            name: "Water Park",
            icon: "maps/water_park.webp",
            difficulty: Intermediate
        ),
        Map(
            name: "Polyphemus",
            icon: "maps/polyphemus.webp",
            difficulty: Intermediate
        ),
        Map(
            name: "Covered Garden",
            icon: "maps/covered_garden.webp",
            difficulty: Intermediate
        ),
        Map(
            name: "Quarry",
            icon: "maps/quarry.webp",
            difficulty: Intermediate
        ),
        Map(
            name: "Quiet Street",
            icon: "maps/quiet_street.webp",
            difficulty: Intermediate
        ),
        Map(
            name: "Bloonarius Prime",
            icon: "maps/bloonarius_prime.webp",
            difficulty: Intermediate
        ),
        Map(
            name: "Balance",
            icon: "maps/balance.webp",
            difficulty: Intermediate
        ),
        Map(
            name: "Encrypted",
            icon: "maps/encrypted.webp",
            difficulty: Intermediate
        ),
        Map(
            name: "Bazaar.PNG",
            icon: "maps/bazaar.PNG.webp",
            difficulty: Intermediate
        ),
        Map(
            name: "Adoras Temple",
            icon: "maps/adoras_temple.webp",
            difficulty: Intermediate
        ),
        Map(
            name: "Spring Spring",
            icon: "maps/spring_spring.webp",
            difficulty: Intermediate
        ),
        Map(
            name: "Karts And Darts",
            icon: "maps/karts_and_darts.webp",
            difficulty: Intermediate
        ),
        Map(
            name: "Moon Landing",
            icon: "maps/moon_landing.webp",
            difficulty: Intermediate
        ),
        Map(
            name: "Haunted",
            icon: "maps/haunted.webp",
            difficulty: Intermediate
        ),
        Map(
            name: "Downstream",
            icon: "maps/downstream.webp",
            difficulty: Intermediate
        ),
        Map(
            name: "Firing Range",
            icon: "maps/firing_range.webp",
            difficulty: Intermediate
        ),
        Map(
            name: "Cracked",
            icon: "maps/cracked.webp",
            difficulty: Intermediate
        ),
        Map(
            name: "Streambed",
            icon: "maps/streambed.webp",
            difficulty: Intermediate
        ),
        Map(
            name: "Chutes",
            icon: "maps/chutes.webp",
            difficulty: Intermediate
        ),
        Map(
            name: "Rake",
            icon: "maps/rake.webp",
            difficulty: Intermediate
        ),
        Map(
            name: "Spice Islands",
            icon: "maps/spice_islands.webp",
            difficulty: Intermediate
        ),
        Map(
            name: "Dark Path",
            icon: "maps/dark_path.webp",
            difficulty: Advanced
        ),
        Map(
            name: "Erosion",
            icon: "maps/erosion.webp",
            difficulty: Advanced
        ),
        Map(
            name: "Midnight Mansion",
            icon: "maps/midnight_mansion.webp",
            difficulty: Advanced
        ),
        Map(
            name: "Sunken Columns",
            icon: "maps/sunken_columns.webp",
            difficulty: Advanced
        ),
        Map(
            name: "X Factor",
            icon: "maps/x_factor.webp",
            difficulty: Advanced
        ),
        Map(
            name: "Mesa",
            icon: "maps/mesa.webp",
            difficulty: Advanced
        ),
        Map(
            name: "Geared",
            icon: "maps/geared.webp",
            difficulty: Advanced
        ),
        Map(
            name: "Spillway",
            icon: "maps/spillway.webp",
            difficulty: Advanced
        ),
        Map(
            name: "Cargo",
            icon: "maps/cargo.webp",
            difficulty: Advanced
        ),
        Map(
            name: "Pats Pond",
            icon: "maps/pats_pond.webp",
            difficulty: Advanced
        ),
        Map(
            name: "Peninsula",
            icon: "maps/peninsula.webp",
            difficulty: Advanced
        ),
        Map(
            name: "High Finance",
            icon: "maps/high_finance.webp",
            difficulty: Advanced
        ),
        Map(
            name: "Another Brick",
            icon: "maps/another_brick.webp",
            difficulty: Advanced
        ),
        Map(
            name: "Off The Coast",
            icon: "maps/off_the_coast.webp",
            difficulty: Advanced
        ),
        Map(
            name: "Cornfield",
            icon: "maps/cornfield.webp",
            difficulty: Advanced
        ),
        Map(
            name: "Underground",
            icon: "maps/underground.webp",
            difficulty: Advanced
        ),
        Map(
            name: "Glacial Trail",
            icon: "maps/glacial_trail.webp",
            difficulty: Expert
        ),
        Map(
            name: "Dark Dungeons",
            icon: "maps/dark_dungeons.webp",
            difficulty: Expert
        ),
        Map(
            name: "Sanctuary",
            icon: "maps/sanctuary.webp",
            difficulty: Expert
        ),
        Map(
            name: "Ravine",
            icon: "maps/ravine.webp",
            difficulty: Expert
        ),
        Map(
            name: "Flooded Valley",
            icon: "maps/flooded_valley.webp",
            difficulty: Expert
        ),
        Map(
            name: "Infernal",
            icon: "maps/infernal.webp",
            difficulty: Expert
        ),
        Map(
            name: "Bloody Puddles",
            icon: "maps/bloody_puddles.webp",
            difficulty: Expert
        ),
        Map(
            name: "Workshop",
            icon: "maps/workshop.webp",
            difficulty: Expert
        ),
        Map(
            name: "Quad",
            icon: "maps/quad.webp",
            difficulty: Expert
        ),
        Map(
            name: "Dark Castle",
            icon: "maps/dark_castle.webp",
            difficulty: Expert
        ),
        Map(
            name: "Muddy Puddles",
            icon: "maps/muddy_puddles.webp",
            difficulty: Expert
        ),
        Map(
            name: "Ouch",
            icon: "maps/ouch.webp",
            difficulty: Expert
        ),
    ],
    modes: [
        Mode(
            name: "Easy Standard",
            icon: "modes/easy_standard.webp",
            difficulty: Easy
        ),
        Mode(
            name: "Primary Only",
            icon: "modes/primary_only.webp",
            difficulty: Easy
        ),
        Mode(
            name: "Deflation",
            icon: "modes/deflation.webp",
            difficulty: Easy
        ),
        Mode(
            name: "Medium Standard",
            icon: "modes/medium_standard.webp",
            difficulty: Medium
        ),
        Mode(
            name: "Military Only",
            icon: "modes/military_only.webp",
            difficulty: Medium
        ),
        Mode(
            name: "Reverse",
            icon: "modes/reverse.webp",
            difficulty: Medium
        ),
        Mode(
            name: "Apopalypse",
            icon: "modes/apopalypse.webp",
            difficulty: Medium
        ),
        Mode(
            name: "Hard Standard",
            icon: "modes/hard_standard.webp",
            difficulty: Hard
        ),
        Mode(
            name: "Magic Only",
            icon: "modes/magic_only.webp",
            difficulty: Hard
        ),
        Mode(
            name: "Double HP Moabs",
            icon: "modes/double_hp_moabs.webp",
            difficulty: Hard
        ),
        Mode(
            name: "Half Cash",
            icon: "modes/half_cash.webp",
            difficulty: Hard
        ),
        Mode(
            name: "Alternate Bloon Rounds",
            icon: "modes/alternate_bloon_rounds.webp",
            difficulty: Hard
        ),
        Mode(
            name: "Impoppable",
            icon: "modes/impoppable.webp",
            difficulty: Hard
        ),
        Mode(
            name: "C.H.I.M.P.S.",
            icon: "modes/chimps.webp",
            difficulty: Hard
        ),
    ]
)